<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ASP.NET Core SignalR with TypeScript and Webpack</title>
</head>
<body>
<!--<div class="container-fluid">-->
<!--    <h1>Images</h1>-->

<!--    <a href="https://localhost:44324/FileClient/Index" target="_blank"-->
<!--    >Upload Images</a-->
<!--    >-->

<!--&lt;!&ndash;    <div *ngIf="images.length > 0">&ndash;&gt;-->
<!--&lt;!&ndash;        <img&ndash;&gt;-->
<!--&lt;!&ndash;                *ngFor="let image of images"&ndash;&gt;-->
<!--&lt;!&ndash;                width="150"&ndash;&gt;-->
<!--&lt;!&ndash;                style="margin-right: 5px"&ndash;&gt;-->
<!--&lt;!&ndash;                [src]="image.imageHeaders + image.imageBinary"&ndash;&gt;-->
<!--&lt;!&ndash;        />&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->

<div>
    <input type="file" id="fileInput" multiple />
    <button id="uploadButton">Upload Images</button>
</div>

<div class="container" id="imageContainer">
    <div class="row" id="imageRow">
        
    </div>
</div>

<!--<form enctype="multipart/form-data" method="post" action="https://localhost:44397/api/fileupload/files" id="ajaxUploadForm" novalidate="novalidate">-->

<!--    <fieldset>-->
<!--        <legend style="padding-top: 10px; padding-bottom: 10px;">Upload Images</legend>-->

<!--        <div class="col-xs-12" style="padding: 10px;">-->
<!--            <div class="col-xs-4">-->
<!--                <label>Upload</label>-->
<!--            </div>-->
<!--            <div class="col-xs-7">-->
<!--                <input type="file" id="fileInput" name="file" multiple>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-xs-12" style="padding: 10px;">-->
<!--            <div class="col-xs-4">-->
<!--                <input type="submit" value="Upload" id="ajaxUploadButton" class="btn">-->
<!--            </div>-->
<!--            <div class="col-xs-7">-->

<!--            </div>-->
<!--        </div>-->

<!--    </fieldset>-->

<!--</form>-->
    
<!--<div id="imagesContainer">-->
    
<!--</div>-->
</body>
</html>